.bottom-logo {
    min-width: 10em;
    max-width: 12em;
    max-height: 4em;
}

.generic-article {
    margin-bottom: 5rem;
    text-align: justify;
}

.btn-bee-color {
    background-color: #25ace3;
}

/* 团队成员照片样式 */
.card-img-top {
    width: 50%;
    /* height: 250px; */
    object-fit: cover;
}